body {
  background-color: #e7b4ff;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow-y: hidden;
}
.title {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
}
.frame {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  width: 25rem;
  min-height: 350px;
  max-height: 30rem;
  overflow: auto;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #95a5a6;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2c3e50;
}
.tasks-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  /* max-height: 350px; */
  padding: 10px;
}
.task {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 0px;
  border-radius: 3px;
  width: 95%;
  margin: 5px;
  margin-bottom: 20px;
}
.task-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240;
  overflow: hidden;
  white-space: nowrap;
}

.task-data > p {
  margin: 0;
  width: 240px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}
.edit-border {
  border: rgba(0, 0, 0, 0.47) 1px solid;
  border-radius: 3px;
}

.create_task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#create-task {
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 0.8rem;
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

#edit-task {
  outline: none;
  padding: 10px;
  border: none;
  width: 90%;
}

.save {
  background-color: #c55ff4;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 10%;
  height: 2rem;
  font-size: 0.8rem;
}

i {
  cursor: pointer;
  margin-right: 10px;
  color: #c55ff4;
}

#chooseColorBtn {
  padding: 20px;
  margin-right: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 15px;
  height: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 3px;
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.256);
  z-index: 1;
}

.dropdown-content i {
  margin: 0;
  padding: 20px;
  display: flex;
  font-size: 10px;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
}

.red {
  color: #fa5656;
}

.blue {
  color: #78a9f2;
}
.green {
  color: #6dfa56;
}
.yellow {
  color: #f7fc24;
}
.dropdown i:hover {
  font-size: 12px;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 14px;
}

.time {
  font-size: 10px;
  color: gray;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: #f8ebfe;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
