body {
  background-color: #e7b4ff;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.title {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
}
.frame {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  width: 25rem;
  height: 30rem;
}
.tasks-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 0px;
  border-radius: 3px;
  width: 95%;
  margin: 5px;
  margin-bottom: 20px;
}
.task-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-data > p {
  margin: 0;
  text-transform: capitalize;
}
.edit-border {
  border: rgba(0, 0, 0, 0.47) 1px solid;
  border-radius: 3px;
}

.create_task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#create-task {
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 0.8rem;
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

#edit-task {
  outline: none;
  padding: 10px;
  border: none;
}

.save {
  background-color: #c55ff4;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 10%;
  height: 2rem;
  font-size: 0.8rem;
}

i {
  cursor: pointer;
  margin-right: 10px;
  color: #c55ff4;
}

#chooseColorBtn {
  margin: 0;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 15px;
  height: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  /* max-width: 30px; */
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content i {
  margin: 0;
  padding: 10px;
  display: flex;
  font-size: 10px;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;

}

.red {
  color: #fa5656;
}

.blue {
  color: #78a9f2;
}
.green {
  color: #6dfa56;
}
.yellow {
  color: #f7fc24;
}
.dropdown i:hover {
  background-color: rgba(128, 128, 128, 0.199);
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
